/* You can add global styles to this file, and also import other style files */

/* .pokemon{
    border-spacing: 5px;
    max-width: 100px;
    background-color: #8a6da2;
    border-width: 0.5px;
    border-top:  #0e0c0c;
  
}
*/


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
